body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Noto Sans', sans-serif;

  font-family: 'Syncopate', sans-serif; */
}

p.final-countdown {
  font-size: 50vh;
  line-height: 0.75;
  margin: 0;
  padding: 10vh 0 0 10vh;

}

.cdSecondColon::before {
  content: '\a 00';
  font-size: 50vh;
  white-space: pre;
  visibility: hidden;
  margin-right: 17vh;
  vertical-align: top;
}

.cdSecondColon, .cdMs {
  font-size: 30vh;
  color: #555;
  vertical-align: top;
}

.buttons {
  position: relative;
  display: block;
}

button {
  font-family: 'Montserrat', sans-serif;
  background: none;
  border: none;
  font-size: 10vh;
  float: left;
  padding: 0 3vh;
}

button.reset {
  float: right;
}